
.middle-card{
    background-color:white;
    width: 600px;
    height: 500px;
    border-radius: 8px;

}

#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.body {
    background-color: #CCD1CC;
}

.title-section{
    padding-top: 30px;
    text-align: center;
    height: 20%;
}

.pname{
width: 100%;
margin-top: 20px;
text-align: center;
height: 40px;

}

.players-name{
    width: 300px;
}

.players-name-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.input-form{
    justify-content: center;
    text-align: center;
    height: 80%;

}

#next-button{
    transition: all .5s ease;
    width: 300px;
    background-color: white;
    color: #78EAB3;
    height: 50px;
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-color: #78EAB3;
    border-width: 2px;
}
.button-icon {
    transition: all .5s ease;
    height: 50%;
    width: 50%;
    background-image: url(/images/right-arrow.svg);
    background-repeat: no-repeat;
    align-self: center;
    filter: invert(81%) sepia(25%) saturate(639%) hue-rotate(95deg) brightness(98%) contrast(80%);
}
#next-button:hover {
    background-color:#78EAB3;
    color: white;

}
#next-button:hover .button-icon {
    filter: invert(99%) sepia(6%) saturate(29%) hue-rotate(266deg) brightness(107%) contrast(100%);

}
.button-text{
    align-self: center;
    width: 50%;
  
}

.button-border-style{
    border: 1px solid #b7b7b7;
    border-radius: 8px;
}

.mid-card-title{
}

.button-space-allocator{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.mid-card-subtitle{
font-weight: lighter;
color: #BCBABA;
}

.button-container{
    display: flex;
    justify-content: center;
}

